*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.canvas {
  border: 5px green solid;
  margin-bottom: 10px;
  width:100%;
}

.btn{
  background: green;
  border-radius: 5px;
  border: none;
  color: white;
  display:block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 20px;
  text-transform: uppercase;
}